@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
}

.stc-table {
  border: 1px solid black;
  width: 60em;
  table-layout: fixed;
  margin-right: 2em;
}

.stc-table th {
  background: #c3eff6;
  text-align: center;
  padding: 0.1em;
  width: 10em;
}

.stc-table tr:nth-child(even) {
  background: #c3eff6;
}

.stc-table td {
  text-align: center;
  padding: 0.1em;
  width: 10em;
}

.stc-filter {
  display: inline-block;
  margin-right: 1rem;
}

.stc-filter-table {
  border: 1px solid black;
}

.stc-table-div {
  height: 30em;
  overflow-y: scroll;
}